
  {% include '../common/header.html' with title="管理员" %}
  {% load dealwithtime %}
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">平台管理</a>
        <a>
          <cite>平台列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="name"  placeholder="请输入平台名称" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加平台','{% url "adm:ditch_add" %}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{{ paginator.count }} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>平台名称</th>
            <th>签约上限</th>
            <th>唯一识别</th>
            <th>加入时间</th>
            <th>类型</th>
            <th>操作</th>
        </thead>
        <tbody>
            {%  for row in list %}
            <tr>
                <td>
                  <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ row.id }}'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.upper }}</td>
                <td>{{ row.sole }}</td>
                <td>{{ row.create_time|timeToDate }}</td>
                <td class="td-status">
                  <span class="layui-btn layui-btn-normal layui-btn-mini">
                      {{ row.type|ditchType }}
                  </span></td>
                <td class="td-manage">
{#                  <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">#}
{#                    <i class="layui-icon">&#xe601;</i>#}
{#                  </a>#}
                  <a title="编辑"  onclick="x_admin_show('编辑平台','{% url 'adm:ditch_add' %}?id={{ row.id }}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                  </a>
                  <a title="删除" onclick="member_del(this,{{ row.id }})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="page" id="page">

{#        <div>#}
{#            {% if list.has_previous %}#}
{#                <a class="prev" href="?page={{ list.previous_page_number }}">&lt;&lt;</a>#}
{#            {% endif %}#}
{##}
{##}
{#            {% for contact in paginator.page_range %}#}
                {# 每个"contact"都是一个Contact模型对象. #}
{#                {% if request.GET.page|val_Is_val:contact == True %}#}
{#                <span class="current">{{ contact }}</span>#}
{#                {% else %}#}
{#                <a class="num" href="?page={{ contact }}">{{ contact }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{##}
{#            {% if list.has_next %}#}
{#                <a class="next" href="?page={{ list.next_page_number }}">&gt;&gt;</a>#}
{#            {% endif %}#}
{##}
{#        </div>#}
      </div>

    </div>
    <script>
        layui.use(['laypage', 'layer'], function(){
          var laypage = layui.laypage, layer = layui.layer;
            //我的自定义
          laypage.render({
            elem: 'page'
            ,count: {{ paginator.count }}
            ,limit:10
            ,curr: {% if request.GET.page %}{{ request.GET.page }} {% else %}1{% endif %}
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
            ,jump: function(obj, first){
                  if(!first){
                      //一定要加此判断，否则初始时会无限刷新
                      $(location).attr('href', "?page="+obj.curr);
                }
            }
          });
        });

      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              httpUrl("{% url 'adm:ditch_del' %}", {type:1, id:id}, function (resData) {
                console.log(resData)
                if( resData.code == 1 ){
                    //成功
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                } else{
                    //失败
                    layer.msg(resData.msg,{icon:2,time:1000});
                }
            })




          });
      }


        // 批量删除
      function delAll (argument) {

        var data = tableCheck.getData();
        console.log(data.join(","))
        layer.confirm('确认要删除选中的平台吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            httpUrl("{% url 'adm:ditch_del' %}", {type:0, id:data.join(",")}, function (resData) {
                console.log(resData)
                if( resData.code == 1 ){
                    //成功
                    layer.msg('删除成功', {icon: 1});
                    $(".layui-form-checked").not('.header').parents('tr').remove();
                } else{
                    //失败
                    layer.msg(resData.msg,{icon:2,time:1000});
                }
            })
        });
      }
    </script>
  </body>

</html>